<!--CONTACT-->
<section id="contact" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="title-small">
          <span>Contact</span>
        </h3>
        <p class="content-detail">
          I'll reply you within 24 hours. If you can't wait, then don't hesitate to contact me on <a href="https://www.facebook.com/preisler.io/" style="color:#527bbb" target="_blank">Facebook</a> or <a href="https://www.instagram.com/jonaspreisler/" style="color:#8a3ab9" target="_blank" data-hover="Instagram">Instagram</a>. Or send me a text message at +4542836608.
        </p>

      </div>
      <div class="col-md-9 content-right">
        <form>
          <div class="group">
            <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
          </div>
          <div class="group">
            <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
          </div>
          <div class="group">
            <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
          </div>
          <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
        </form>
      </div>
    </div>
  </div>
</section>
<!--/.CONTACT END-->